{:paths ["src"]
 :deps {babashka/fs {:mvn/version "0.1.6"}
        com.eclipsesource.j2v8/j2v8_linux_x86_64 {:mvn/version "4.8.0"}
        hawk/hawk {:mvn/version "0.2.11"}
        hiccup/hiccup {:mvn/version "1.0.5"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        ring/ring {:mvn/version "1.9.5"}
        ring-server/ring-server {:mvn/version "0.5.0"}
        org.clojure/test.check {:mvn/version "1.1.1"}
        }}